h1 {
    color: #EDB6A3;
    background-color: #4C5454;
    text-align: center;
}
body {background-color: #77b28c;}
  p {
       background-color: #77b28c;
    padding: 1em;
    border-width: 10px;
    border-style: solid;
    border-color: #a3d9ff;
    margin: 30px; }
h2 {
    margin: 30px;
}
img {
    max-width: 170px;
}
ol {
    padding: 1em;
    border-width: 10px;
    border-style: solid;
    border-color: #a3d9ff;
    margin: 30px; 
    text-align: center;
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}       
                                      